* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.colourful {
    background:
        -webkit-linear-gradient(45deg, hsla(19, 100%, 4%, 1) 0%, hsla(19, 100%, 4%, 0) 70%),
        -webkit-linear-gradient(315deg, hsla(309, 100%, 13%, 1) 10%, hsla(309, 100%, 13%, 0) 80%),
        -webkit-linear-gradient(225deg, hsla(359, 90%, 5%, 1) 10%, hsla(359, 90%, 5%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(202, 95%, 31%, 1) 100%, hsla(202, 95%, 31%, 0) 70%);
    background:
        linear-gradient(45deg, hsla(19, 100%, 4%, 1) 0%, hsla(19, 100%, 4%, 0) 70%),
        linear-gradient(135deg, hsla(309, 100%, 13%, 1) 10%, hsla(309, 100%, 13%, 0) 80%),
        linear-gradient(225deg, hsla(359, 90%, 5%, 1) 10%, hsla(359, 90%, 5%, 0) 80%),
        linear-gradient(315deg, hsla(202, 95%, 31%, 1) 100%, hsla(202, 95%, 31%, 0) 70%);
}

section.about {
    position: absolute;
    text-align: left;
    color: white;
    font-family: Lato, Arial, Helvetica, sans-serif;
    padding: 20px 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

section.about h1 {
    font-size: 55px;
    font-weight: normal;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .35);
}

section.about h2 {
    font-size: 10px;
    color: rgba(255, 255, 255, .75);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    font-weight: normal;
}

section.about img.earth-icon {
    width: 40px;
    float: left;
    overflow: hidden;
    margin: 14px 15px 0 0;
}

ul.countries {
    list-style-type: none;
    display: inline-block;
    position: absolute;
    width: 200px;
    top: 120px;
    left: 25px;
    text-align: left;
}

ul.countries li h3 {
    color: white;
    font-size: 9px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    opacity: .5;
}

ul.countries li {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 8px 0;
    color: white;
    font-family: Times New Roman, Times, serif;
    font-size: 11px;
    font-style: italic;
    cursor: pointer;
    letter-spacing: 1px;
}

earth {
    display: inline-block;
    margin: auto;
}